.alert-success{
    color:#fff;
    background-color: #2ecc71;
    padding: 8px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}
.alert-error{
    color:#fff;
    background-color: #e74c3c;
    padding: 8px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}